<%= form_with model: goal do |form| %>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <br>

    <div>
        <%= form.label :status %>
        <%= form.text_field :status %>
    </div>

    <br>

    <div>
        <%= form.label :description, style: "display: block" %>
        <%= form.rich_text_area :description %>
    </div>

    <div>
        <%= form.label :featured_image, style: "display: block" %>
        <%= form.file_field :featured_image, accept: "image/*" %>
    </div>

    <br>

    <div>
        <%= form.submit %>
    </div>

<% end %>
