<% cache @goal do %>
    <h2>Goal: <%= @goal.name %></h2>
    <%= link_to "Back", goals_path %>
    <% if authenticated? %>
        <%= link_to "Edit", edit_goal_path(@goal) %>
        <br>
    <% end %>
    <br>
    <%= @goal.description %>
    <span>Status:</span>
    <%= @goal.status %>
<% end %>

<%= image_tag @goal.featured_image if @goal.featured_image.attached? %>

<% if authenticated? %>
    <%= button_to "Delete Goal", @goal, method: :delete, data: { turbo_confirm: "Are you sure?" } %>
<% end %>
